@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --card-color: #fbf3f2;
    --body-color: #07363c;
    --prime-color: #e4c19d;
    --second-font-style: "Audiowide", sans-serif;
    --gap: 3rem;
}

#home {
    scroll-margin-top: 150px;
}

#sobre {
    scroll-margin-top: -70px;
}

#servicos {
    scroll-margin-top: 110px;
}

.section {
    padding: 5% 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.section_card {
    padding: 4% 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

a { color: inherit; } 

body,
* {
    scroll-behavior: smooth !important;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins';
}

button {
    cursor: pointer;
}

.hero_header {
    /* background-image: url(images/background.png); */
    background-repeat: no-repeat;
    background-position: center center;
    background-color: var(--body-color);
    width: 100%;
    padding-top: 7%;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    height: 90px;
    color: #fff;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    duke logo
    /* background-color: var(--body-color); */
    position: fixed;
    width: 100%;
    /* backdrop-filter: blur(10px); */
    /* background: rgba(0, 0, 0, 0.9); */
    background-color: #07363c9a;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
}

.logo {
    display: flex;
    align-items: center;
    width: 100px;

}

.logo img {
    width: 200%
}

ul li {
    display: inline-block;
    margin: 20px 0;
    padding: 10px 0;
    padding-left: 40px;

}

ul li a {
    color: #fff;
    font-weight: 500;
}

.btn {
    position: relative;
    padding: 15px 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: transparent;
    border: 2px solid var(--prime-color);
    color: #fff;
    border-radius: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    /* height: 4px; */

}

.btn:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--prime-color);
    transition: .3s;
    cursor: pointer;
    z-index: -1;
}

.btn:hover:after {
    width: 100%;
}

#bars {
    display: none;
}

.hero_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8%;
    height: 80vh;
    color: #fff;
}

.hero_content {
    width: 50%;
}

.hero_content h1 {
    font-size: 63px;
    margin: 20px 0;
}

.hero_content p {
    text-align: justify;
    font-weight: 400;
    line-height: 25px;
    margin: 20px 0;
}

.hero_social_icons {
    justify-content: center;
    display: flex;
    gap: 120px;
    margin: 30px 0;
}

.hero_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--prime-color);
    clip-path: xywh(0 5px 100% 75% round 15% 0);
    cursor: pointer;
    color: var(--body-color);
    transition: .3s;
}

.hero_icon:hover {
    transform: scale(2.1);
    color: #000;
}

.hero_btns {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.hero_btns button {
    width: 200px;
    height: 60px;
}

.hero_btns button:nth-child(1) {
    background-color: var(--prime-color);
    border: 2px solid var(--prime-color);
    color: #1c3f39;
    font-size: 15px;
    font-weight: 600;
    transition: .3s;
}


.hero_btns button:nth-child(1):hover {
    color: #000;
}


.hero_btns button i {
    transition: .3s;
}

.hero_btns button:nth-child(1):hover {
    background-color: transparent;
    color: #fff;
}

.hero_btns button:nth-child(1):hover i {
    transform: translate(10px);
}


.animBtn {
    position: relative;
    background-color: transparent;
    border: 2px solid var(--prime-color);
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    transition: .3s;
    margin: 0 10px;
    z-index: 1;
    padding: 10px 20px;

}

.animBtn:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    z-index: -1;
    transition: .3s;
}

.animBtn:hover:after {
    height: 100%;
    width: 100%;
    background-color: var(--prime-color);
    border-radius: 0;
}

.animBtn i {
    transition: .3s;
}

.animBtn:hover {
    color: #1c3f39;
}

.animBtn:hover i {
    transform: translate(10px);
}

.hero_image {
    position: sticky;
    top: 41%;
    left: 45%;
    width: 70%;
}

.hero_image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: drop-shadow(10px 3px 10px  black);
}

.clip_path_sec {
    width: 210px;
    height: 170px;
    background-color: var(--prime-color);
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    color: #1c3f39;
    margin-top: 20%;

}

.clip_path_content {
    display: flex;
    flex-direction: column;
}

.clip_path_icon {
    font-size: 40px;
}

.clip_path_content h1,
p {
    margin: 0 20px;
}

.marquee {
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 10px;
    overflow: hidden !important;
    transform: rotate(-1deg) translateY(-15px);
}

.dev {
    display: flex !important;
    overflow: -moz-hidden-unscrollable;
}

.dev h1 {
    margin: 0 30px;
    font-size: 30px;
}

.marquee_color {
    color: var(--prime-color);
}

/* ====================CARDS====================== */

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 350px;
    background-color: var(--card-color);
    padding: 10%;
    transition: .3s;
}

.card:hover {
    transform: translateY(-50px);
}

.cardicon {
    font-size: 50px;
    margin: 30px 0;
    z-index: 1;
    position: relative;
}

.cardicon:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 15%;
    transform: rotate(15deg) !important;
    border-radius: 20px;
    background-color: var(--prime-color);
    z-index: -1;
}

.card h1 {
    font-size: 25px;
    margin: 20px 0 !important;
    font-weight: 800;
    letter-spacing: 1px;
    color: var(--body-color);
}

.card p {
    font-size: 17px;
    margin: 20px 0 !important;
    line-height: 25px;
    color: #474747;
}

.card button {
    font-size: 15px;
    font-weight: 500;
    border: none;
    background-color: transparent;
    margin: 10px 0;
    transition: .3s;
}

.card button i {
    margin: 0 10px;
    transition: .3s;
}

.card button:hover {
    letter-spacing: 3px;
}

.marquee2 {
    width: 100%;
    background-color: var(--prime-color);
    color: var(--body-color);
    padding: 10px;
    transform: rotate(-1deg) translateY(-15px);
}

.dev2 {
    display: flex !important;
}

.dev2 h1 {
    margin: 0 20px;
    font-size: 30px;
}

.title2 {
    padding-top: 1;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.marquee_color_text {
    color: var(--body-color);

}

/* Seção Sobre  */

.about {
    position: relative;
}

.about_images {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    transform: translate(100px);
    padding: 5% 0;
}

.about_img1 {
    width: 600px;
    height: 340px;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 30%;
    overflow: hidden;
    transform: translateY(80px);
    padding-left: 400px;

}

.drawn_img {
    position: absolute;
    top: 15%;
    width: 25%;
    left: 10%;
    animation: animLR 3s infinite forwards ease-in-out;
    /* width: 100px !important; */
    /* height: 100px !important; */
}

.about_img1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.about_img2 {
    width: 100%;
    height: auto;
    transform: translate(-150px);
}

.about_img2 img {
    width: 100%;
}

.about_projects {
    position: absolute;
    top: 70%;
    left: 100%;
    width: 170px;
    padding: 10px;
    background-color: var(--prime-color);
    color: var(--body-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project_info p {
    text-align: center;
}

.about_content {
    width: 100%;
    padding: 5% 8%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: var(--body-color);
    margin-top: 50px;
}

.about_head {
    font-size: 20px;
    font-weight: 500;
}

.about_content h1 {
    font-size: 40px;
    margin: 20px 0;
}

.about_content p {
    text-align: justify;
    margin: 0;
    font-size: 20px;
    line-height: 30px;
    margin: 20px 0;
}

.about_line {
    width: 100%;
    height: 1px;
    margin: 20px 0;
    background-color: var(--body-color);
}

.about_time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.time_set {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.time_set h1 {
    font-size: 20px;
    font-weight: 500;
    margin: 0 20px;
}

.time_set i {
    font-size: 50px;
}

/* Leads  */

.lead_section {
    text-align: center;
    display: flex;
    align-items: flex-start;
    padding: 0 8%;
    height: 100vh;
    color: #fff;
}

.bg {
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center center;
    background-color: var(--body-color);
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    padding-top: 7%;
}

.lead_content {
    width: 70%;
}


.lead_content h2 {
    font-size: 63px;
    margin: 20px 0;
}

.lead_content p {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    margin: 20px 0;
}

/* Formulario  */

.money_asset {
    width: 40%;
    padding-top: 100px;
}

#contact_details {
    max-width: 90rem;
    margin: 0 auto;
    padding: 0.5rem var(--gap);
    animation: show 0.7s ease-in forwards;
}

.contact-form {
    grid-column: span 2;
}

.contact-form .form-grid {
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: calc(var(--gap) / 2);
}

.form-group {
    flex: 1 1 100%;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: 1.4rem;
}

.form-group input,
.form-group textarea {
    border: none;
    background: var(--card-color);
    padding: 0.8rem;
    width: 100%;
    font-size: 1.4rem;
    outline: none;
    border-radius: 4px;
    resize: none;
}

.form-group input:focus,
.form-group textarea:focus {
    box-shadow: 0 0 6px 1.5px var(--body-color);
}



.full-width {
    width: 100%;
    flex: 1 1 100%;
}

/* Botão compacto com efeito hover mantido */
.form-group button {
    border: 0.2rem solid var(--card-color);
    background: none;
    color: var(--card-color);
    padding: 1rem 2rem;
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    border-radius: 4px;
}

/* Mantendo o efeito ao passar o mouse */
.form-group button:hover {
    background: var(--card-color);
    color: var(--body-color);
    border-color: var(--card-color);
}

.form-group input::placeholder,
.form-group textarea::placeholder {
    color: var(--light-gray-color);
    font-size: 1.2rem;
}

/* Legenda menor */
.form-grid legend {
    font-style: italic;
    font-size: 1.4rem;
    margin-bottom: 2rem;
}






/* Footer  */

.footer {
    font-size: 1.6rem;
}

.section_contact {
    padding: 1% 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.ct_footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p {
    margin: 0;
    padding: 1rem;
    text-align: center;
}

.white-bg {
    background: var(--card-color);
    color: var(--prime-color);
    max-width: 100%;
}

.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: var(--card-color);
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--body-color);
    border: 0.1rem solid var(--body-color);
}

.main_footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    align-items: start;
    justify-content: space-between;
}

.footer_content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    width: 100%;
}

.footer_content2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    width: 100%;
    padding-left: 80px;
}

.footer_content2 p {
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    margin: 10px 0;
}

.footer_content2 h1 {
    padding-top: 30px;
    margin: 7px 0;
    color: var(--body-color);
    font-size: 25px;
    font-weight: 500;
}

.footer_content p {
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    margin: 10px 0;
}


.footer_content img {
    margin: 20px 0;
    width: 80%;
}

.footer_icons {
    margin: 10px 0;   
    
}

.footer_content .FFicon:first-child {
    margin: 0;
    
}

.footer_content .FFicon {
    margin: 0 5px;
    font-size: 25px;
    border-radius: 100%;
    border: 1px solid #000;
    height: 35px;
    padding: 5px 8px;
    color: var(--body-color);
    transition: .3s;
    cursor: pointer;
    
}

.footer_icons a i{
    gap: 20px;

}

.footer_content .FFicon:hover {
    background-color: var(--body-color);
    color: #fff;
}

.footer_content h1 {
    margin: 40px 0;
    color: var(--body-color);
    font-size: 25px;
    font-weight: 500;
}

.F-cata {
    display: flex;
    justify-content: flex-start;
    margin: 6px 0;
    align-items: center;
}

.F-cata i {
    text-align: left;
    color: var(--body-color);
}

.F-cata a {
    text-align: left;
    color: var(--body-color);
    margin: 0 10px;
}

.F_cata_second p {
    color: var(--body-color);
    margin: 0 10px;
}

.F_cata_second {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.footer_inputs {
    display: flex;
    align-items: center;
    width: 300px;
    background-color: transparent;
    border: 1px solid #000;
    padding: 8px;
}

.footer_inputs input {
    width: 230px;
    height: 30px;
    outline: none;
    border: none;
    font-size: 17px;
}

.footer_inputs i {
    font-size: 25px;
    background-color: #cfcfcf;
    width: 40px;
    border-radius: 100%;
    height: 40px;
    padding: 7px 5px;
}

.icon-button {
    background: none;
    border: none;
    padding: 1;
    cursor: pointer;
}

.icon-button i {
    padding-left: 2px;
    font-size: 1.5rem;
    color: inherit;
} 

#footer p a{
    color: var(--body-color);
}



/* Toast  */

.toast {
    visibility: hidden;
    min-width: 250px;
    background-color: #4CAF50;
    /* Verde */
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
}

.toast.show {
    visibility: visible;
    animation: fadeIn 0.5s, fadeOut 0.5s 2.5s;
}

@keyframes fadeIn {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 10px;
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        top: 10px;
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 0;
    }
}

/* Animações  */

@keyframes animLR {
    0% {
        transform: translate(0);
    }

    50% {
        transform: translate(10px);
    }

    100% {
        transform: translate(0);
    }
}

@keyframes animTB {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

/* Media query  */

@media (max-width: 1150px) {
    #bars {
        display: block;
        cursor: pointer;
    }

    header {
        z-index: 999;
        position: fixed;
        width: 100%;
    }

    .hero_section {
        margin-top: 80px;
    }

    .menu {
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #0000002c;
        backdrop-filter: blur(10px) !important;
        opacity: 0;
        transition: .3s;
    }

    ul li {
        display: block;
        margin: 10px 0;
        padding: 10px 0;
        padding-left: 8%;
    }

    ul li a {
        color: #fff;
    }

    .show_menu {
        opacity: 1;
        width: 100%;
        display: block;
    }

    ul li a:hover {
        color: #000;
    }
}

@media (max-width: 1100px) {
    .hero_section {
        flex-direction: column;
    }

    .hero_image {
        left: 20%;
    }

    .hero_header {
        height: 110vh;
    }

    .hero_content {
        width: 90%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .clip_path_sec {
        display: none;
    }

    .card {
        grid-template-columns: repeat(2, 1fr);
    }

    .about {
        display: flex;
        flex-direction: column-reverse;
    }

    .skills_card {
        grid-template-columns: repeat(3, 1fr);
    }

    .main_footer {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1000px) {
    .portifolio_card {
        grid-template-columns: 1fr;
        place-items: center;
    }

    .pcard {
        align-items: center;
        text-align: center;
    }

    .skills_header {
        grid-template-columns: repeat(2, 1fr);
    }

    .main_footer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 900px) {
    .service_content {
        flex-direction: column;
    }

    .cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .hero_image {
        width: 70%;
    }

    .main_footer {
        grid-template-columns: repeat(1, 1fr);
        place-items: center;
        place-content: center;
    }

    .about_time {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .skills_card {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer_content {
        justify-content: center;
        align-items: center;
    }

    .footer_content2 {
        justify-content: center;
        align-items: center;
    }


    .contact_me {
        text-align: center;
    }

    .service_head {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .service_head_content h1 {
        width: 100%;
    }

    .blog {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .reviews h2,
    h1 {
        text-align: center;
    }

    .reviews {
        margin: 20px 0;
    }

    .service_image {
        width: 400px;
        height: 400px;
    }

    .service_image img {
        object-fit: cover;
        margin: 50px 0;
    }

    .about_content {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .about_head {
        text-align: center;
    }

    .about_content h1 {
        text-align: center;
    }

    .about_images {
        width: 60%;
    }

    .skills_header {
        grid-template-columns: repeat(1, 1fr);
    }

    .get_contact {
        flex-direction: column;
    }

    .get_contact button {
        width: 300px;
        margin: 20px 0;
    }

    .skill_card {
        width: 400px;
    }

    .copyright_footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .hero_header {
        height: 101vh;
    }

    .head_text h1 {
        width: 100%;
    }

    .skill_box {
        width: 300px;
    }
}
